In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
from datetime import datetime

In [2]:
import snowflake.connector
import pandas as pd

# Function to load Google Gemini model and provide query as response

# Function to retrieve query from Snowflake database and return as a Pandas DataFrame
def read_snowflake_query(sql):
    # Establish connection to Snowflake
    conn = snowflake.connector.connect(
        user='your_username',
        password='your_password',
        account='your_accountname',
        warehouse='your_warehouse',
        database='your_database',
        schema='you_schema'
    )
    # Execute the query and fetch all results
    df = pd.read_sql(sql, conn)
    
    # Close the connection
    conn.close()

    return df

# Example usage:
sql = "SELECT * FROM your_table;"
df = read_snowflake_query(sql)

In [3]:
df = df.dropna()

df.reset_index(drop=True, inplace=True)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 406478 entries, 0 to 406477
Data columns (total 13 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   StandardDateofBooking  406478 non-null  object
 1   StandardDateofJourney  406478 non-null  object
 2   Month_of_Journey       406478 non-null  int64
 3   Airline_Company        406478 non-null  object
 4   Flight_Number          406478 non-null  object
 5   Flight_Class           406478 non-null  object
 6   Departure_Time         406478 non-null  object
 7   Departure_City         406478 non-null  object
 8   Arrival_Time           406478 non-null  object
 9   Arrival_City           406478 non-null  object
 10  Duration_in_mins       406478 non-null  float64
 11  Total Stops            406478 non-null  object
 12  Price                  406478 non-null  float64
dtypes: float64(2), int64(1), object(10)
memory usage: 40.3+ MB

In [5]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(df, test_size=0.2, random_state=42)

train.to_csv('train_data.csv', index=False)
test.to_csv('test_data.csv', index=False)